body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/avatars_fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container-main-avatars {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    place-items: center;
}

.container-main-avatars .container-div-avatars {
    width: 100%;
    height: 100%;
}

.container-div-avatars .container-columns-avatars {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-columns-avatars .container-img-avatars {
    width: 250px;
    height: 250px;
    position: relative;
}

.container-img-avatars img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container-name-avatars {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    pointer-events: none;
}

.container-img-avatars:hover .container-name-avatars {
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    display: flex;
    cursor: pointer;
    pointer-events: none;
}
