body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/salas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container-main {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    place-items: center;
}

.container-main .container-salas {
    width: 1200px;
    height: 500px;
    padding-top: 2%;
    /* place-content: center; */
    place-items: center;
    text-align: center;
    background-color: black;
    opacity: 85%;
    color: white;
}

.container-salas h3 {
    font-size: 30px;
}

.container-salas .container-div-salas {
    width: 100%;
    overflow: auto;
    height: 350px;
}

.container-div-salas .container-name-salas {
    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-name-salas .container-persons h4 i {
    font-size: 20px;
}

.container-name-salas .container-button a button {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: #ffcb46;
    cursor: pointer;
}

.container-name-salas .container-button .button-disabled {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: #cdcdcd;
}